.tweet-container {
    border:1px solid #1c1c1c;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


.tweet-images-container{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    height: 200px;
    border: 1px solid #1C1C1C;
    border-radius: 20px;
    display: flex;
    /* flex-direction: column; */
    /* flex-basis: 100%; */
    overflow: hidden;
    flex-wrap: wrap;
}

.tweet-image{
    background-image: url(https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80);
    flex-basis: 50%;
    /* overflow: hidden; */
    background-size: cover;
    background-position: center;
}
}

.tweet-text-container{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    color: #FFFFFF;
}
.tweet-date-container{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    
    color: #47525D;
    font-size: 10px;

}
.tweet-user-info{
    display: flex;
    margin-left: 20px;
    /* margin-bottom: 20px; */
    
   margin-top:20px;
    align-items: center;
}
.tweet-user-profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #979797;
}

.tweet-user-name-container{
    color: white;
    margin-left: 8px;
}

.tweet-user-fullname{
    font-size: 15px;
}

.tweet-user-username{
    font-size: 10px;
}
